@import '@/assets/mixins';
@import '@/assets/variables';

.nav {
  position: relative;
}

.active {
  & > .list {
    right: 0;
  }

  & > .toggle > .burger {
    transform: rotate(45deg);

    &::before {
      top: 0;
      opacity: 0;
      transform: rotate(0);
    }

    &::after {
      top: 0;
      transform: rotate(90deg);
    }
  }
}

.list {
  position: fixed;
  z-index: 999;
  top: 80px;
  right: -100%;
  gap: 0px;
  width: 100%;
  height: 100%;
  background-color: map-get($map: $colors, $key: background);
  box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: right 0.4s;

  @include respond-to(lg) {
    position: static;
    flex-direction: row;
    gap: 20px;
    width: auto;
    height: auto;
    box-shadow: none;
  }
}

.item {
  position: relative;
  width: 100%;
  height: 80px;
  font-weight: 500;

  &:last-child > a {
    & > .separator {
      display: none;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &:global.active {
    color: map-get($map: $colors, $key: primary);

    a {
      text-decoration: none;
    }
  }

  @include respond-to(lg) {
    width: auto;
    height: auto;
    color: map-get($map: $colors, $key: primary);

    &:global.active {
      color: map-get($map: $colors, $key: primary);

      a {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 5px;
      }
    }
  }
}

.separator {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 50%;
  height: 1px;
  background-color: map-get($map: $colors, $key: accent);

  @include respond-to(lg) {
    display: none;
  }
}

.toggle {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;

  @include respond-to(lg) {
    display: none;
  }
}

.burger {
  position: relative;

  &,
  &::before,
  &::after {
    display: block;
    width: 30px;
    height: 2px;
    background-color: map-get($map: $colors, $key: primary);
    transition: transform 0.4s;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}
