@import '@/assets/variables';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: map-get($map: $colors, $key: primary);
}

.loader {
  animation: 1s spin infinite;
  color: inherit;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
