@import '@/assets/variables';
@import '@/assets/mixins';

.wrapper {
  position: relative;

  @include respond-to(md) {
    height: 100%;
    border-right: 1px solid map-get($map: $colors, $key: accent);
  }

  .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-block: 10px;
    width: 100%;
    border: none;
    border: 1px solid map-get($map: $colors, $key: accent);
    border-radius: 10px;
    background: map-get($map: $colors, $key: background);
    color: map-get($map: $colors, $key: primary);
    font-weight: 500;
    cursor: pointer;

    @include respond-to(md) {
      display: none;
    }
  }

  .nav {
    position: absolute;
    z-index: 9999;
    display: grid;
    grid-template-rows: 0fr;
    margin-top: 10px;
    width: 100%;
    transition: grid-template-rows 0.4s ease-in-out, border 0.4s ease-in-out;

    @include respond-to(md) {
      position: static;
      display: block;
      margin-top: 0;
      height: 100%;
    }

    .list {
      background-color: map-get($map: $colors, $key: background);
      box-shadow: inset 0 0 0 1px map-get($map: $colors, $key: accent);
      border-radius: 10px;
      min-height: 0;
      overflow: hidden;

      @include respond-to(md) {
        height: 100%;
        box-shadow: none;
        border: none;
        background: none;
      }
    }

    .item {
      width: 100%;
      font-weight: 500;

      &:global.active {
        color: map-get($map: $colors, $key: primary);

        a {
          text-decoration: none;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px 15px;
        width: 100%;
        height: 100%;

        &:hover {
          color: map-get($map: $colors, $key: primary);
        }

        svg {
          flex: 0 0 auto;
        }

        @include respond-to(md) {
          justify-content: flex-start;
          padding-inline: 15px 40px;

          span {
            flex: 1;
          }
        }
      }
    }
  }

  .active {
    grid-template-rows: 1fr;
  }
}
