@import '@/assets/mixins';
@import '@/assets/variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

main {
  position: relative;
  padding-top: 45px;
  padding-bottom: 45px;
  flex: 1 1 auto;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/background.jpg');
    background-position: center;
    background-size: 80%;
    opacity: 0.1;

    @include respond-to(sm) {
      background-size: 65%;
    }

    @include respond-to(md) {
      background-size: 55%;
    }

    @include respond-to(lg) {
      background-size: 45%;
    }

    @include respond-to(xl) {
      background-size: 35%;
    }

    @include respond-to(xxl) {
      background-size: 25%;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
select,
button {
  font: inherit;
}

input:focus {
  box-shadow: none !important;
}

h1,
h2,
h3 {
  color: map-get($colors, primary);
  font-weight: 400;
}

h1 {
  @include adaptive-font(38, 28);
}

h2 {
  @include adaptive-font(30, 24);
}

h3 {
  @include adaptive-font(20, 18);
}
