@import '@/assets/variables';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
  background: map-get($map: $colors, $key: background);
  border: 1px solid map-get($map: $colors, $key: accent);
  border-radius: 10px;
  text-align: center;
}

.controls {
  display: flex;
  gap: 10px;
}
