@import '@/assets/variables';
@import '@/assets/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .personalInformation,
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &_fields {
      display: flex;
      flex-direction: column;
      gap: 15px;

      @include respond-to(lg) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    &_field {
      color: map-get($map: $colors, $key: text);

      @include respond-to(lg) {
        width: calc(50% - 7.5px);
      }
    }

    &_controls {
      display: flex;
      gap: 15px;

      button {
        width: calc(50% - 7.5px);
      }

      @include respond-to(lg) {
        margin-left: auto;
      }
    }

    &_tooltip {
      display: flex;
      gap: 5px;
      color: red;

      svg {
        flex: 0 0 auto;
      }
    }
  }
}
