$colors: (
  text: #333440,
  text-light: #6f7780,
  button-text: #ffffff,
  background: #ffffff,
  primary: #931b21,
  accent: #c2c8d0,
);

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);
